.timer-numbers {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.timer {
    margin-top: 150px;
    text-align: center;
}

.timer-title {
    font-size: 36px;
    color: #c73030;
}

.timer-action {
    font-size: 24px;
    color: #fff;
    margin-top: 40px;
}

.timer-numbers {
    /* margin-top: 40px; */
    font-size: 90px;
    color: #c73030;
}
